@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Cara Crachá</h1>
    <br>
    <p>Visite: <a href="https://www.senai.info" target="_blank">www.senai.info</a> .</p>
    <br>
    <a href="https://github.com/jucelinopinheiro" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
</div>